@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Lato:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nova+Cut&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap');


.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.box1{
  width: 650px;
}

.box2{
  width: 650px;
  height: 400px;
  background-image: url(./img/hero.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.tag{
  width: 70px;
  border: none;
  border-radius: 20px;
  background-color: rgb(185, 185, 185);
  font-size: 15px;
  font-family: 'poppins';
  margin-bottom: -25px;
}

span{
  font-weight: 700;
  font-size: 1rem;
}

.title{
  font-size: 3rem;
  line-height: 3.5rem;
  color: #0B1320;
}

.description{
  font-family: 'poppins';
  width: 100%;
  font-size: 1.8rem;
  color: #2b2b2b;
  margin-top: -25px;
}

.call-actions{
  width: 430px;
  display: flex;
  justify-content: space-between;
}

.action1, .action2{
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 700;
}

.action1{
  background-color: #0B1320;
  color: #ffff;
}

.action2{
  border: 1px solid #0B1320;
  color: #0B1320;
}

.holder{
  background-color: #ffff;
  width: 100%;
  height: 80px;
  box-shadow: 0px -1px 0px 3.5px rgb(41, 39, 39, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner{
  width: 1400px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.logo{
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 28px;
}

.text{
  color: #3B3F47;
  font-size: 26px;
  font-weight: 700;
}

.logoimg{

  background-image: url(./img/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.nav-btn{
  width: 800px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.nav-btn, span{
  font-size: 1.2rem;
  color: #3b3f47;
}

.action{
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #0B1320;
  color: #ffff;
}

.info-section{
  margin-top: 50px;
  background-color: #ffeedd;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading{
  font-size: 2rem;
}

.cardheading, .cardsubheading{
  text-align: center;
}

.cardsubheading{
  width: 420px;
  font-size: 1.3rem;
}

.cardheading{
  font-size: 1.4rem;
  font-weight: 600;
}

.inner-card{
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardimg1{
  background-image: url(./img/pic1.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
}

.cardimg2{
  background-image: url(./img/pic2.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
}

.cardimg3{
  background-image: url(./img/pic3.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
}

.card-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.opporunity-section{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper1{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.opportunity-tag{
  background-color: #CECFD2;
  border: none;
  width: max-content;
  height: 30px;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: 'poppins';
  border-radius: 50px;
  margin-bottom: -10px;
}

.section-imgleft{
  background-image: url(./img/bar1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
}

.section-imgright{
  background-image: url(./img/bar2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
}

.section-imgleft1{
  background-image: url(./img/bar3.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
}

.section-imgright1{
  background-image: url(./img/bar4.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
}

.opportunity-heading{
  font-size: 2.8rem;
  color: #0B1320;
}

.opportunity-subheading{
  font-size: 1.4rem;
  margin-top: -20px;
  font-weight: 500;
}

.opportunity-info{
  width: 740px;
}

.features{
  font-size: 1.7rem;
  margin-top: -10px;
}

.todo-wrapper{
  width: 720px;
  display: flex;
  justify-content: space-between;
  margin: 35px 0px 0px 0px;
}

.todoimg1{
  background-image: url(./img/a1.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg2{
  background-image: url(./img/a2.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg3{
  background-image: url(./img/a3.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg4{
  background-image: url(./img/a4.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg5{
  background-image: url(./img/b1.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg6{
  background-image: url(./img/b2.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg7{
  background-image: url(./img/b3.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg8{
  background-image: url(./img/b4.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg9{
  background-image: url(./img/c1.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg10{
  background-image: url(./img/c2.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg11{
  background-image: url(./img/c3.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg12{
  background-image: url(./img/c4.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg13{
  background-image: url(./img/c5.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.todoimg14{
  background-image: url(./img/c6.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.todotext{
  font-size: 1.3rem;
  width: 650px;
  font-family: 'poppins';
}

.more{
  color: #D82B00;
  margin: 35px 0px 0px 0px;
  font-size: 1.3rem;
  font-weight: 500;
}